/* side navbar */

.sidenav {
    height: 407px;
    width: 0;
    position: fixed;
    z-index: 99999999999;
    top: 0;
    right: 0;
    background-color: #847070;
    overflow-x: hidden;
    transition: 0.5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

button.absoluteSave {
    position: absolute;
    width: 30%;
    bottom: 10px;
    border: 8px solid #cccccc;
    background-color: #cccccc;
    left: 40px;
}

button.absoluteCancel {
    position: absolute;
    width: 30%;
    bottom: 10px;
    border: 8px solid #cccccc;
    background-color: #cccccc;
    left: 150px;
}